@import url('https://fonts.googleapis.com/css?family=Kalam:400,700|Open+Sans:300,400,600');
:root {
    --orange: #ff5c1f;
    --black: #000;
    --white: #fff;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kalam', cursive;
    font-weight: 700;
}

a {
    font-family: 'Kalam', cursive;
}


/*******************
nav
*******************/

.nav-link {
    color: var(--orange) !important;
}

header {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

header hgroup {
    border: 2px solid var(--black);
    padding: 20px 0;
    background: var(--white);
    opacity: .7;
}

header hgroup h2 {
    color: var(--orange);
    font-size: 2rem;
}

header hgroup h3 {
    font-size: 1.2rem;
}

header hgroup p {
    font-size: .8rem;
}

header hgroup button {
    background: var(--orange);
    color: var(--white);
    border: none;
    padding: 7px 35px;
    font-family: 'Kalam', cursive;
}