@import url('https://fonts.googleapis.com/css?family=Kalam:400,700|Open+Sans:300,400,600');

body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kalam', cursive;
    font-weight: 700;
}
a {
    font-family: 'Kalam', cursive;
}
