@import url('https://fonts.googleapis.com/css?family=Kalam:400,700|Open+Sans:300,400,600');
:root {
    --orange: #ff5c1f;
    --black: #000;
    --white: #fff;
    --gray: #e4e4e4;
    --transition: .4s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kalam', cursive;
    font-weight: 700;
}

a {
    font-family: 'Kalam', cursive;
}

.underline {
    display: block;
    width: 10%;
    height: 7px;
    background: var(--orange);
    margin: 0 auto;
}


/*******************
nav
*******************/

.nav-link {
    color: var(--orange) !important;
}

header {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

header hgroup {
    border: 2px solid var(--black);
    background: var(--white);
    padding: 20px 0;
    opacity: .7;
}

header hgroup h2 {
    color: var(--orange);
    font-size: 2rem;
}

header hgroup h3 {
    font-size: 1.2rem;
}

header hgroup p {
    font-size: .8rem;
}

header hgroup button {
    background: var(--orange);
    color: var(--white);
    border: none;
    padding: 7px 35px;
    font-family: 'Kalam', cursive;
}

header hgroup button:hover {
    background: var(--white);
    color: var(--orange);
    border: 1px solid var(--black);
    transition: var(--transition);
}


/*****************
interests
*****************/

.interests {
    position: relative;
}

.interests h2 {
    font-weight: 500;
}

.interests .card-body .underline {
    width: 20%;
    height: 4px;
}

.interests p {
    font-size: .8rem;
}

.interests .int1 {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--orange);
    padding: 5px;
    font-weight: 700;
    font-size: .8rem;
}


/********************
skills
********************/

.skills {
    background: var(--black);
    color: var(--white);
}

.skills i {
    font-size: 3rem;
    color: var(--orange);
}

.skills p {
    font-size: .8rem;
}


/********************
portfolio
********************/

.portfolio {
    background: var(--gray);
}

.portfolio img {
    width: 100%;
}


/******************
footer
******************/

footer {
    background: var(--orange);
    color: var(--black);
}

footer .underline {
    background: var(--black);
}

footer i {
    font-size: 2rem;
    color: var(--black);
    padding: 0 10px;
}

footer i:hover {
    color: var(--gray);
    transition: var(--transition);
}